@inject HttpClient httpClient

<div>
    <h3>Your Learningnotes</h3>
</div>


@code {
    private List<LearningNoteDTO> learningNotes;
    protected override async Task OnInitializedAsync()
    {
        learningNotes = await httpClient.GetFromJsonAsync<List<LearningNoteDTO>>("api/group/LearningNotesForGroup/{groupId}");
    }
}
