@inject HttpClient httpClient
@inject VideoJS videoJS
@inject NavigationManager navigationManager

<div class="VideoChatComponentContainer">
    <h3>@GroupDTO?.Name</h3>
    <CameraSelectorComponent CameraChanged="camera => activeCamera = camera" />
    @if (!isVideoChatting)
    {
        <button @onclick="async () => await TryJoinRoomAsync(GroupDTO.Id)">Join Video Chat</button>
    }
    else
    {
        <button @onclick="async () => await OnLeaveRoom()">Leave Video Chat</button>
    }
    <div id="camera"></div>
</div>


@code{
    [Parameter]
    public GroupDTO GroupDTO { get; set; }
    private List<MessagesDTO> messagesDTOs;
    private string activeCamera;
    private bool isVideoChatting;
    protected override async Task OnParametersSetAsync()
    {
        await GetMessagesLearningNotes();
    }

    public async Task GetMessagesLearningNotes()
    {
        //messagesDTOs = await httpClient.GetFromJsonAsync<List<MessagesDTO>>($"/api/group/MessagesForGroup/{GroupDTO?.Id}");
    }

    private async ValueTask OnLeaveRoom()
    {
        await videoJS.LeaveRoomAsync();
        await videoJS.StartVideoAsync(activeCamera, "#camera");
    }

    private async ValueTask<bool> TryJoinRoomAsync(object roomName)
    {
        var jwt = await httpClient.GetFromJsonAsync<TwilioJWTDTO>("api/twilio/token");
        if (jwt?.Token is null)
        {
            return false;
        }

        var joined = await videoJS.CreateOrJoinRoomAsync(roomName.ToString(), jwt.Token);
        if (joined)
        {
            isVideoChatting = true;
        }

        return joined;
    }
}
