@inherits LayoutComponentBase
@inject AuthenticationStateProvider authProvider
@inject HttpClient httpClient

<div class="page">
    <nav>
        <div style="display: flex; height: 100%;">
            <h1>LearnLive!</h1>
            <img class="logo" src="/icons/live.png"/>
        </div>  
        <AuthorizeView>
            <Authorized>
                <div style="display: flex;">
                    <h3>Welcome to the Clan @context.User.Identity.Name</h3>
                    <h3 @onclick="() => ((HostAuthenticationStateProvider)authProvider).SignOut()" style="cursor: pointer; margin-left: 15px;" class="underline">Logout</h3>
                </div>
            </Authorized>
            <NotAuthorized>
                <h3 class="underline" @onclick="() => ((HostAuthenticationStateProvider)authProvider).SignIn()" style="cursor: pointer;">SignUp</h3>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
    <main>
        @Body
    </main>
</div>
