<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnLive</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        
    </nav>
    <main>
        @RenderBody()
    </main>    
</body>
</html>
