@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<div class="IndexContainer">
    <GroupsComponent />
    <VideoChatComponent />
</div>

@code{
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/videoChatHub"))
                .Build();
        StateHasChanged();
        hubConnection.On("UpdateGroups", async () =>
        {
            StateHasChanged();
        });
        await hubConnection.StartAsync();
    }
}