@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<div class="IndexContainer">
    <GroupsComponent ChosenGroup="group => currentlyChosenGroup = group"/>
    <VideoChatComponent GroupDTO="currentlyChosenGroup"/>
</div>

@code{
    private HubConnection hubConnection;
    private GroupDTO currentlyChosenGroup;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/videoChatHub"))
                .Build();
        StateHasChanged();
        hubConnection.On("UpdateGroups", async () =>
        {
            StateHasChanged();
        });
        await hubConnection.StartAsync();
    }
}