@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<CascadingValue Value="this">
    <div class="IndexContainer">
        <GroupsComponent ChosenGroup="group => currentlyChosenGroup = group" />
        <VideoChatComponent GroupDTO="currentlyChosenGroup" />
    </div>
</CascadingValue>


@code{
    private HubConnection hubConnection;
    private GroupDTO currentlyChosenGroup;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/videoChatHub"))
                .Build();
        StateHasChanged();
        await hubConnection.StartAsync();
    }
}